
<form [formGroup]="form">
  <mat-form-field>

    <input matInput  formControlName="filterSeller" [(ngModel)]="filterSeller">
    <mat-label>fornitore</mat-label>
  </mat-form-field>
  </form>
<table mat-table [dataSource]="sellers()|distanceSorter:coords()|filterPipe:filter" class="mat-elevation-z8">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Fornitore  </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>
  <ng-container matColumnDef="rootSeller">
    <th mat-header-cell *matHeaderCellDef> Fornitore base  </th>
    <td mat-cell *matCellDef="let element"> <app-sellerViewer [sellerKey]="element.rootSellerKey"></app-sellerViewer> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="selectSeller(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
