.login-wrapper {
  display: flex;
  flex-flow: column;
  max-width: 320px;

  padding: 20px;
  margin: 0 auto;
}

.action-container {
  margin-top: 10px;
  display: flex;
  align-self: center;
}
.error {
  background: pink;
  padding: 10px;
  font-size: 14px;
  border: 1px solid red;
}
.mat-mdc-card-header {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  align-self: center;
}
h2.login-header,.login-header {
color: #546e7a !important;
}
.mat-mdc-card-header {
background: transparent !important;
}
h2.login-header,.login-header {
color: #546e7a !important;
}
