<form [formGroup]="addressForm">
  <button mat-button (click)="geolocalize()" cdkFocusInitial> <mat-icon fontIcon="my_location"></mat-icon>  Geolocalizza</button>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" [(ngModel)]="seller.address.address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput formControlName="latitude" [(ngModel)]="seller.address.latitude">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput formControlName="longitude" [(ngModel)]="seller.address.longitude">
  </mat-form-field>
</form>
