<table mat-table [dataSource]="items()" class="mat-elevation-z8">

   <ng-container matColumnDef="descrizione">
    <th mat-header-cell *matHeaderCellDef> Descrizione </th>
    <td mat-cell *matCellDef="let item"> {{item.descrizione}} </td>
  </ng-container>

   <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> note </th>
    <td mat-cell *matCellDef="let item"> {{item.note}} </td>
  </ng-container>

   <ng-container matColumnDef="prezzo">
    <th mat-header-cell *matHeaderCellDef> prezzo </th>
    <td mat-cell *matCellDef="let item"> {{item.prezzo}} </td>
  </ng-container>

   <ng-container matColumnDef="categorie">
    <th mat-header-cell *matHeaderCellDef> Categorie </th>
    <td mat-cell *matCellDef="let item"> <app-category-viewer  [categoriesKey]="item.categoriesKey"></app-category-viewer> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
