<app-category-viewer [categoriesKey]="categoriesKey()" (chipEvent)="selectedCategory($event)"></app-category-viewer>
<button mat-button (click)="assignCategories()"><mat-icon>search</mat-icon></button>
<input matInput placeholder="search"  [(ngModel)]="searchText" (keyup)="filterCategories($event)" id=searchInput>
<button mat-icon-button (click)="closeDialog()"><mat-icon>check</mat-icon></button>
<mat-list>
  @for(cat of categories()|filterPipe:searchFilter;track cat.key){
    <mat-list-item role="listitem" (click)="selectCategory(cat)">{{cat.title}} </mat-list-item>
  }
</mat-list>
