
<form [formGroup]="searchForm">
<mat-select matInput [(ngModel)]="paymentsKey" formControlName="paymentsKey">
  <mat-icon matPrefix>search</mat-icon>
   <input matInput (keyup)="onKey($event)" id=searchPayment>
    <mat-option>None</mat-option>
  @for(payment of $payments()|filterPipe:searchPayment;track payment.key){

    <mat-option value="{{payment.key}}">{{payment.nome}}</mat-option>
  }

</mat-select>
<button mat-button (click)="createPayment()" cdkFocusInitial><mat-icon>create</mat-icon>crea una nuovo pagamento</button>
</form>
